{% extends "default.html" %}
{% block title %}{{name}} Dashboard{% endblock %}

{% block header %}

<!-- dynamic content template for homepage -->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <img id="logo" src="{{ url_for('static', filename = 'images/rocket.png')}}" width="50" height="50">
      <img id="title" src="{{ url_for('static', filename = 'images/project_utopia.png')}}">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>

     </button>
   </div>
   <!-- Collect the nav links, forms, and other content for toggling -->
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{name}}</a></li>
      <li><a href="{{ url_for('logout') }}">Sign Out</a></li> 
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</div>
<!-- /.container-fluid -->
</nav>
{% endblock %}

<!-- Homepage -->
{% block content %} 
<div class="container-fluid main-container">
  <div class="col-md-3 sidebar">

    <div class="panel panel-default">
      <div class="panel-heading">
        Utopian Instructor Profile
      </div>
      <div class="panel-body">
      <p> <span class="glyphicon glyphicon-user"></span> {{name}} </p>
        <p> <span class="glyphicon glyphicon-education"></span> Class Box: {{classbox}} </p>
        <p> <span class="label label-success"> <span class="glyphicon glyphicon-briefcase"></span> Classes Tutoring: {{classnumber}}</span> </p>
        <p> <span class="label label-success"><span class="glyphicon glyphicon-user"></span> Total Enrolled Students: {{totalenrollment}}</span> </p>
      </div>
    </div>
    <div class="myclasses">
    <ul class="nav nav-pills nav-stacked">
      <li class="sidebar active"><a href="#"> Classes <span class="glyphicon glyphicon-book"></span>  </a> </li>
      {% for row in classroom %}
      <li><a href="{{url_for('classdata', classroom=row.name )}}"> {{row['name']}}</a></li> 
      {% endfor %} </li>
    </ul>
    </div>
    <br>
    <div class="panel panel-default">
      <div class="panel-heading">
        Add Class <span class="glyphicon glyphicon--plus-sign"></span> 
      </div>
      <form name="form" method="POST" action="/dashboard">
        <div class="input-group input-group-sm">
          {{ form.classroom(class="form-control", placeholder="Add Class")}}
          <div class="input-group-btn">
            {{ form.submit(class="btn btn-warning", placeholder="Add Class")}}
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-9 content">
    {% if error %}
     <p><strong>Error:</strong> {{ error }} </p>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-dashboard"> Dashboard
      </div>
      <h4 class=classdashboard> {{classname | upper}} DATA </h4>
      <div class="panel-body">
          <p><span class="glyphicon glyphicon-paste"> Enrollment: {{section_enrollment}}</p>
          <hr>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Student Name</th>
              <th> Email</th>
              <th> Stage On</th>
              <th> Date Stage Started</th>
              <th> Date Stage Ended</th>
              <th> Attempts</th>
              <th> Code </th>
            </tr>
          </thead>
          <tbody>
            {% for row in enrolled %}
            <tr>
              <td>{{row['email']}}</td>
              <td>{{row['name']}}</td>
              <td>{{row['stage_number']}}</td>
              <td>{{row['stage_date_started']}}</td>
              <td>{{row['stage_date_completed']}}</td>
              <td>{{row['attempts']}}</td>
              <td>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-edit"> Code</button>
                <!-- Modal -->
                <div class="modal fade panel-heading" id="myModal" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><span class="glyphicon glyphicon-qrcode"> {{row['name']}}'s Code <span class="glyphicon glyphicon-qrcode"> </h4>
                      </div>
                      <div class="modal-body">
                        <p>{{row['code']}}</p>
                      </div>
                      <div class="modal-footer panel-heading">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                    
                  </div>
                </div>

              </td>
              <td></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div> 
</div>       
{% endblock %}