<!DOCTYPE html>

<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <title>{% block title %}{% endblock %} - Project Utopia </title>
    <meta name=viewport content="width=device-width, initial-scale=1">
    {% endblock %}
  </head>

  <body>
    <!-- dynamic content template for form pages -->
    <div id="header"></div>
    <div id="content">{% block content %}{% endblock %}</div> 
    <div id="footer"></div>
  </body>

</html>
